@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
html, body {
  background: black;
  overflow: visible;
  margin: 0;
  padding: 0;
  font-family: 'Poppins','sans-serif';
  background-image: url("imgs/vinyl_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

@keyframes btnlink {
  from {
    background-color: black;
    color: white; }
  to {
    background-color: white;
    color: black; } }
@keyframes btnlink2 {
  from {
    color: white; }
  to {
    color: black; } }
a {
  text-decoration: none; }

.homeimg {
  margin: auto;
  height: 150px;
  border: none;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover; }

@keyframes checked-anim {
  50% {
    width: 3000px;
    height: 500px; }
  100% {
    width: 100%;
    height: 55%;
    border-radius: 0; } }
@keyframes not-checked-anim {
  0% {
    width: 3000px;
    height: 600px; } }
.homeimg li, a {
  margin: 0px 0 0px 0;
  font-family: "Poppins", sans-serif;
  outline: 0;
  display: none;
  text-align: center; }

.homeimgoff a:focus {
  display: block;
  color: #333;
  background-color: #eee;
  transition: all .5s; }

#trigger, #burger, #burger:before, #burger:after {
  position: fixed;
  top: 23px;
  left: 15px;
  background: white;
  width: 25px;
  height: 3px;
  transition: .2s ease;
  cursor: pointer;
  z-index: 1; }

#trigger {
  height: 35px;
  background: none; }

#burger:before {
  content: " ";
  top: 30px;
  left: 10; }

#burger:after {
  content: " ";
  top: 37px;
  left: 10; }

#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform .2s ease; }

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform .2s ease; }

#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform .2s ease; }

#menu {
  position: fixed;
  margin: 0;
  padding: 0;
  margin-top: -50px;
  width: 80px;
  height: 80px;
  background-color: black;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  animation: not-checked-anim 0.4s both;
  transition: .2s; }

#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both; }

#menu-toggle:checked + #trigger ~ #menu > li, a {
  display: block; }

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  display: none; }

.homeimg ul {
  position: relative; }

.homeimg ul li {
  list-style: none;
  text-align: center; }

.homeimg ul li a {
  color: white;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s; }

.homeimg ul:hover li a {
  color: rgba(255, 255, 255, 0.801); }

.homeimg ul li:hover a {
  color: #000;
  background: white; }

.homeimg ul li a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: white;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s; }

.homeimg ul li a:hover:before {
  content: attr(data-text);
  color: white;
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px; }

.homeimg ul {
  position: relative; }

.homeimg ul li {
  list-style: none;
  text-align: center; }

.homeimg ul li a {
  color: white;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s; }

.homeimg ul:hover li a {
  color: rgba(255, 255, 255, 0.801); }

.homeimg ul li:hover a {
  color: #000;
  background: white; }

.homeimg ul li a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: white;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s; }

.homeimg ul li a:hover:before {
  content: attr(data-text);
  color: white;
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px; }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.waves {
  height: 10px;
  width: 100%;
  background: linear-gradient(245deg, #000000, white, black, white);
  background-size: 600% 600%;
  -webkit-animation: Gradient 16s ease infinite;
  -moz-animation: Gradient 16s ease infinite;
  animation: Gradient 16s ease infinite; }

.wavesend {
  margin-top: 40px;
  height: 10px;
  width: 100%;
  background: linear-gradient(245deg, #000000, white, black, white);
  background-size: 600% 600%;
  -webkit-animation: Gradient 16s ease infinite;
  -moz-animation: Gradient 16s ease infinite;
  animation: Gradient 16s ease infinite; }

.waves3 {
  margin-top: 20px;
  height: 10px;
  width: 100%;
  background-color: white;
  opacity: 0.1; }

.waves2 {
  height: 10px;
  width: 100%;
  background-color: white;
  opacity: 0.1; }

.wavesalbum {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 10px;
  width: 100%;
  background-color: white;
  opacity: 0.1; }

footer {
  background-image: url(imgs/bcgww.jpg);
  background-position: center;
  min-height: 320px;
  padding: 5% 5% 100px;
  position: relative;
  color: white;
  font-family: 'Poppins','sans-serif';
  display: flex; }
  footer .wavesfooter {
    width: 500px; }
  footer a {
    color: white;
    text-decoration: none; }
  footer .textfoot {
    position: relative;
    left: 3%;
    font-size: 20px; }
    footer .textfoot ul {
      margin-left: -40px;
      list-style-type: none; }
      footer .textfoot ul li, footer .textfoot ul a {
        text-align: start; }
@keyframes iconsfoot {
  from {
    opacity: 100%; }
  to {
    opacity: 50%; } }
      footer .textfoot ul a:hover {
        animation-name: iconsfoot;
        animation-duration: 0.2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards; }
    footer .textfoot p {
      position: relative;
      top: 20%; }

@keyframes iconsfoot {
  from {
    opacity: 100%; }
  to {
    opacity: 50%; } }
.icons {
  position: relative;
  left: 80%;
  width: 50px;
  display: flex;
  flex-direction: column; }
  .icons a {
    margin-top: 10px;
    margin-left: 10px; }
@keyframes iconsfoot {
  from {
    opacity: 100%; }
  to {
    opacity: 50%; } }
  .icons a:hover {
    animation-name: iconsfoot;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; }

.abouttitle h1 {
  color: white;
  text-align: center;
  font-size: 70px; }

.am {
  display: flex; }

.albums {
  margin-left: 100px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .albums .musicplayer {
    background-color: black; }
  .albums p {
    width: 600px;
    color: white; }
  .albums .albumlist {
    margin-left: 100px; }
    .albums .albumlist .album {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px;
      width: 320px;
      height: 320px;
      background-color: rgba(241, 241, 241, 0.11); }
      .albums .albumlist .album .p1 {
        height: 100px;
        margin-top: -5px;
        text-align: center;
        width: 300px;
        color: white;
        font-size: 30px; }
      .albums .albumlist .album .p2 {
        height: 100px;
        margin-top: 16px;
        text-align: center;
        width: 300px;
        color: white;
        font-size: 30px; }
      .albums .albumlist .album .albumcover1 {
        margin-top: 35px;
        width: 300px; }
      .albums .albumlist .album .albumcover2 {
        width: 300px; }
@keyframes albums {
  from {
    opacity: 100%; }
  to {
    opacity: 50%; } }
@keyframes OpacityAnim {
  from {
    opacity: 100%; }
  to {
    opacity: 50%; } }
.tracks {
  margin-top: 50px;
  margin-right: 150px;
  color: white;
  display: flex;
  flex-direction: column; }
  .tracks .musicplayer {
    height: 30px;
    opacity: 0.8;
    width: 500px;
    border-radius: 0px; }

button {
  display: flex;
  outline: none;
  border: none;
  background: none; }

.playbutton:hover {
  animation-name: OpacityAnim;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  cursor: pointer; }

button:focus {
  outline: none;
  border: none; }

.trackblock {
  display: flex; }
  .trackblock .track {
    margin: 0px;
    border-bottom: rgba(136, 136, 136, 0.336) 1px solid;
    height: 50px; }
    .trackblock .track .icon {
      width: 30px; }
  .trackblock .songtitle {
    border-bottom: rgba(136, 136, 136, 0.336) 1px solid;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 217, 0, 0); }
    .trackblock .songtitle .lyricbtn {
      opacity: 0;
      margin-top: 10px;
      border: 1px white solid;
      border-radius: 5px;
      width: 100px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0);
      color: white; }
      .trackblock .songtitle .lyricbtn .lyrics {
        color: white;
        height: 20px;
        font-size: 15px;
        margin-top: -1px;
        width: 100px;
        text-align: center;
        font-weight: bold;
        font-family: 'Poppins','sans-serif'; }
      .trackblock .songtitle .lyricbtn .lyrics:hover {
        cursor: pointer;
        animation-name: btnlink2;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; }
    .trackblock .songtitle .lyricbtn:hover {
      cursor: pointer;
      animation-name: btnlink;
      animation-duration: 0.2s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards; }

@keyframes trackblockbackground {
  from {
    background-color: none; }
  to {
    background-color: rgba(173, 173, 173, 0.123); } }
.trackblock:hover {
  animation-name: trackblockbackground;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }
  .trackblock:hover .lyricbtn {
    opacity: 1; }

.playbutton {
  margin-top: 8px; }
  .playbutton h1 {
    text-align: start;
    color: white;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: normal;
    font-size: 20px;
    width: 400px; }

.linkbtn {
  margin-top: 10px;
  padding: 10px 20px;
  width: 100px;
  background-color: white;
  border: white 1px solid;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: black; }

@keyframes btnpurchase {
  from {
    background-color: white;
    color: black; }
  to {
    background-color: rgba(0, 0, 0, 0);
    color: white; } }
.linkbtn:hover {
  animation-name: btnpurchase;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

.refs {
  display: flex; }
  .refs .linkbtn {
    padding: 10px 20px;
    margin-right: 15px;
    width: 100px;
    background-color: white;
    border: white 1px solid;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: black; }
    .refs .linkbtn .linkiconsp {
      margin-right: 25px;
      width: 20px;
      vertical-align: -4px; }
    .refs .linkbtn .linkiconit {
      margin-right: 27px;
      width: 20px;
      vertical-align: -2px; }
    .refs .linkbtn .linkiconyt {
      margin-right: 13px;
      width: 20px;
      vertical-align: -4px; }
  .refs .linkbtn:hover {
    animation-name: btnpurchase;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }

#zatemnenie {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

#okno {
  overflow: auto;
  width: 600px;
  height: 800px;
  text-align: start;
  padding: 15px;
  border: 3px solid #ffffff3b;
  border-radius: 0px;
  color: #ffffff;
  position: absolute;
  top: 00;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: black; }
  #okno p {
    font-size: 20px;
    margin-left: 50px; }
  #okno h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #okno h1 a {
      font-weight: normal; }

#zatemnenie:target {
  display: block; }

.close {
  width: 15px;
  margin-right: 100px;
  color: #ffffff;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  background: #222222;
  font-size: 14pt;
  cursor: pointer; }

.close:hover {
  cursor: pointer;
  animation-name: btnlink;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

#zatemnenie2 {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

#okno2 {
  overflow: auto;
  width: 600px;
  height: 800px;
  text-align: start;
  padding: 15px;
  border: 3px solid #ffffff3b;
  border-radius: 0px;
  color: #ffffff;
  position: absolute;
  top: 00;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: black; }
  #okno2 p {
    font-size: 20px;
    margin-left: 50px; }
  #okno2 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #okno2 h1 a {
      font-weight: normal; }

#zatemnenie2:target {
  display: block; }

.close2 {
  width: 15px;
  margin-right: 100px;
  color: #ffffff;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  background: #222222;
  font-size: 14pt;
  cursor: pointer; }

.close2:hover {
  cursor: pointer;
  animation-name: btnlink;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

#zatemnenie3, #zatemnenie4, #zatemnenie5, #zatemnenie6, #zatemnenie7, #zatemnenie8, #zatemnenie9, #zatemnenie10, #zatemnenie11, #zatemnenie12 {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

#okno3, #okno4, #okno5, #okno6, #okno7, #okno8, #okno9, #okno10, #okno11, #okno12 {
  overflow: auto;
  width: 600px;
  height: 800px;
  text-align: start;
  padding: 15px;
  border: 3px solid #ffffff3b;
  border-radius: 0px;
  color: #ffffff;
  position: absolute;
  top: 00;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: black; }
  #okno3 p, #okno4 p, #okno5 p, #okno6 p, #okno7 p, #okno8 p, #okno9 p, #okno10 p, #okno11 p, #okno12 p {
    font-size: 20px;
    margin-left: 50px; }
  #okno3 h1, #okno4 h1, #okno5 h1, #okno6 h1, #okno7 h1, #okno8 h1, #okno9 h1, #okno10 h1, #okno11 h1, #okno12 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #okno3 h1 a, #okno4 h1 a, #okno5 h1 a, #okno6 h1 a, #okno7 h1 a, #okno8 h1 a, #okno9 h1 a, #okno10 h1 a, #okno11 h1 a, #okno12 h1 a {
      font-weight: normal; }

#zatemnenie3:target, #zatemnenie4:target, #zatemnenie5:target, #zatemnenie6:target, #zatemnenie7:target, #zatemnenie9:target, #zatemnenie10:target, #zatemnenie11:target, #zatemnenie12:target {
  display: block; }

@media screen and (max-width: 375px) {
  .icons {
    left: 35%; }

  .abouttitle h1 {
    margin-top: 40px; }

  footer {
    background-image: none;
    background-color: #000; }

  .am {
    display: flex;
    flex-direction: column; }

  .albums {
    margin-top: 20px;
    width: 200px;
    display: flex;
    flex-direction: column; }
    .albums .musicplayer {
      background-color: black; }
    .albums p {
      margin-left: -60px;
      font-size: 15px;
      width: 300px;
      color: white; }
    .albums .albumlist {
      width: 150px; }
      .albums .albumlist .album {
        margin-left: -120px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 220px;
        background-color: rgba(241, 241, 241, 0.11); }
        .albums .albumlist .album .albumcover2 {
          width: 200px; }
  @keyframes albums {
    from {
      opacity: 100%; }
    to {
      opacity: 50%; } }
  .linkbtn {
    font-size: 15px;
    margin-top: 10px;
    padding: 10px 20px;
    width: 50px;
    background-color: white;
    border: white 1px solid;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: black; }

  .refs {
    margin-left: 20px;
    display: flex;
    flex-direction: column; }
    .refs .linkbtn {
      padding: 10px 20px;
      margin-right: 15px;
      width: 100px;
      background-color: white;
      border: white 1px solid;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      color: black; }
      .refs .linkbtn .linkiconsp {
        margin-right: 25px;
        width: 20px;
        vertical-align: -4px; }
      .refs .linkbtn .linkiconit {
        margin-right: 27px;
        width: 20px;
        vertical-align: -2px; }
      .refs .linkbtn .linkiconyt {
        margin-right: 13px;
        width: 20px;
        vertical-align: -4px; }
    .refs .linkbtn:hover {
      animation-name: btnpurchase;
      animation-duration: 0.2s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards; }

  .tracks {
    margin-top: 50px;
    margin-right: 150px;
    color: white;
    display: flex;
    flex-direction: column; }
    .tracks .musicplayer {
      height: 30px;
      opacity: 0.8;
      width: 500px;
      border-radius: 0px; }

  button {
    display: flex;
    outline: none;
    border: none;
    background: none; }

  .playbutton:hover {
    animation-name: OpacityAnim;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    cursor: pointer; }

  button:focus {
    outline: none;
    border: none; }

  .playbutton {
    margin-top: 8px; }
    .playbutton h1 {
      text-align: start;
      color: white;
      margin-top: 6px;
      margin-left: 10px;
      font-weight: normal;
      font-size: 20px;
      width: 250px; }

  .trackblock {
    margin-left: 20px;
    width: 100%;
    display: flex; }
    .trackblock .track {
      width: 100%;
      margin: 0px;
      border-bottom: rgba(136, 136, 136, 0.336) 1px solid;
      height: 50px; }
      .trackblock .track .icon {
        width: 30px; }
    .trackblock .songtitle {
      width: 100%;
      border-bottom: rgba(136, 136, 136, 0.336) 1px solid;
      width: 100px;
      height: 50px;
      background-color: rgba(255, 217, 0, 0); }
      .trackblock .songtitle .lyricbtn {
        width: 100%;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        border: 1px white solid;
        border-radius: 5px;
        height: 30px;
        color: white; }
        .trackblock .songtitle .lyricbtn .lyrics {
          color: white;
          height: 20px;
          font-size: 15px;
          margin-top: -1px;
          width: 100px;
          text-align: center;
          font-weight: bold;
          font-family: 'Poppins','sans-serif'; }
        .trackblock .songtitle .lyricbtn .lyrics:hover {
          cursor: pointer;
          animation-name: btnlink2;
          animation-duration: 0.2s;
          animation-timing-function: ease-out;
          animation-fill-mode: forwards; }
      .trackblock .songtitle .lyricbtn:hover {
        cursor: pointer;
        animation-name: btnlink;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; }

  @keyframes checked-anim {
    50% {
      width: 600px;
      height: 500px; }
    100% {
      width: 375px;
      height: 60%;
      border-radius: 0; } } }

/*# sourceMappingURL=am.css.map */
